body {
  background-image: url("../img/skull.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: lightgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.container h1,
div.container h2,
div.container h3,
div.container h4 {
  font-family: 'Ravi Prakash', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 125px;
  color: rgb(116,53,125);
  text-shadow: 0 0 15px white;
}
div.container h1 {
  font-size: 200px;
  margin-top: 40px;
}

div.container h2 {
  font-size: 175px;
}

div.container h4 {
  font-size: 75px;
}

div.container {
  width: 100%;
  margin-top: 50px;
}

div#winScreen div.container h1{
  margin-top: 300px;
}

div#dieScreen div.container h1{
  margin-top: 200px;
}

button.pinkButton {
  display: block;
  margin: 20px auto 0;
  width: 400px;
  height: 75px;
  font-size: 40px;
  background: none;
  background-color: rgb(255,102,102);
  color: white;
}

button.pinkButton:hover {
  color: white;
  box-shadow: 0 0 15px white;
}

#canvas {
  /*box-shadow: 10px 10px 20px black;*/
  margin: 3% auto;
  display: none;
  border: 3px solid rgb(116,53,125);
  background-image: url("../img/BG.png");
}

#testSprite {
  width: 29px;
}

#hidden {
  display: none;
}

#startScreen {
  width: 1889px;
  height: 1080px;
  /*background-color: rgb(31,56,61);*/
  background-image: url("../img/BG.png");
  margin: 3% auto;
  border: 3px solid rgb(116,53,125);;
}

div.endingScreen {
  display: none;
  width: 1889px;
  height: 1080px;
  /*background-color: rgb(31,56,61);*/
  background-image: url("../img/BG.png");
  margin: 3% auto;
  border: 3px solid rgb(116,53,125);
}

img#ninjaGirl {
  display: block;
  margin: 0 auto;
  padding-left: 75px;
}

img#arrowsImg {
  width: 80%;
}

div#sidebar {
  text-align: center;
  background-color: rgb(80,106,163);
  color: black;
  padding: 20px;
  margin: 62px 0 0 0;
  /*margin-right: 0;*/
  height: 900px;
  opacity: 0.9;
}

div#sidebar p {
  text-align: left;
  opacity:
}

hr {
  border-color: black;
}

/* Media Queries*/
@media only screen
and (max-width: 1500px) {

  div.container h1 {
    font-size: 100px;
    margin-top: 30px;
  }

  div.container h2 {
    font-size: 125px;
  }

  #canvas {
    width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #startScreen {
    width: 100%;
    height: 100%;
    background-image: url("../img/BG.png");
    margin: 3% auto;
    border: 3px solid rgb(116,53,125);;
  }

  div.endingScreen {
    display: none;
    width: 1440px;
    height: 100%;
  }
}
